* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.604);
    /* border-bottom: 1px solid; */
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
    padding-bottom: 6em;
}

footer {
    background-color: rgb(148, 205, 122);
    text-indent: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1em;
    padding: 1em 0;
    color:rgb(86, 114, 73);
}

img {
    height: 200px;
    border-radius: 5px;
}

nav {
    border-bottom: 6px solid rgb(233, 99, 50);
    padding: 16px;
    background-color: coral;
}

nav > a {
    color: white;
}

h3 > a {
    color: rgb(113, 156, 93);
}

.recipes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-rows: repeat(2,auto);
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/* #content-wrap {
    padding-bottom: 24px;
} */

tbody > tr:nth-child(even){
    background-color: rgb(252, 252, 184);
}
